[submodule "libs/http"]
	path = libs/http
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "libs/ws"]
	path = libs/ws
	url = https://github.com/edwardstock/Simple-WebSocket-Server.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/concurrentqueue"]
	path = libs/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/hiredis"]
	path = libs/hiredis
	url = https://github.com/edwardstock/hiredis.git
